.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

#target {
  /* height: 300px;
  background-color: red; */
  font-size: 8rem;
  text-align: center;
}
